.print { display: none; }

body {
    font-size: 12px;
    margin: 0 auto;
    padding:0;
    max-width: 960px;
}

#instructions {
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
}

#printForm .label {
    width: 100%;
}

#printForm .info {
    width: 70%;
    float: left;
    padding-top: 5px;
}

#printForm .buttons {
    float: left;
}

#approveForm .info {
    width: 70%;
    float: left;
}

#instructions .clear {
    clear:both;
}

#approveForm .buttons {
    float: left;
}

#approveForm .label {
    width: 225px;
}

div#approve_status {
    font-size: 12px;
    text-align: center;
}

header .title h1 { 
font-size: 48px;
    padding: 0;
    margin: 22px 0 0 -15px;
    font-weight: normal;
}

section .title {
    font-size: 24px;
}

section .bgunfilled h3 {
    font-size: 16px;
}

.label {
    width: 125px;
}

.important {
    font-size: 16px;
}


.img-desc {
    font-size: 18px;
    font-style: italic;
}

.img-class {
    font-size: 16px;
    font-weight: bold;
}

button {
    color: #861b2f;
    padding: 8px 25px;
    font-weight: bold;
    font-size: 16px;
    background-color: #ccc686;
    border: 2px solid;
    border-radius: 7px;
}

button:hover {
    border: 2px solid;
    cursor: pointer;
    background-color: #d8cd53;
}

.emailList {
    width: 70%;
    margin: 0 15%;
    font-size: 16px;
    padding-bottom: 10px;
}

.emailList .emailname {
    font-weight: bold;
    display: inline-block;
    width: 55%;
    vertical-align: top;
}

.emailList .type {
    font-style: italic;
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.emailList .check {
    display: inline-block;
    width: 5%;
    vertical-align: top;
}

.emailList span.smallemail {
    font-size: 12px;
    font-weight: normal;
}

.emailList .button {
    text-align: center;
    padding: 15px 0;
}

.viewnow {
    padding: 20px 0 10px 10px;
    font-size: 16px;
}

.viewnow > div:first-child {
    padding-bottom: 5px;
}

.viewnow a {
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #861B2F;
}

#instructions .buttons img {
    cursor: pointer;
}

@media screen and (max-width: 650px) {

    
    .desktoponly { display:none; }
    .fh100 { height: 80px; }
    
    body {
        font-size: 12px;
        margin: 0 auto;
        padding:0;
    }

/*    #instructions {
        padding: 15px;
        font-weight: bold;
    }*/

    header .title h1 { 
        font-size: 14px;
        padding: 0;
        margin: 0 5px;
    }
    
    section .title {
        font-size: 20px;
    }
    
    
    header .title img {
        height: 75px;
    }
    
    .job-information {
        width: 100%;
    }

    .roof-type {
        width: 100%;
    }    
    
    .ref-image {
        width: 98%; 
    }
    
    .contact {
        width: 98%;
    }
    
    .label {
        width: 90px;
    }
    
    .inspection-list {
        margin: 0;
    }
    
    .inspection-list .labels {
        font-size: 14px;
    }
    
    .notes .data {
        font-size: 12px;
    }
    
    .inspected img, .deficiency img {
        width: 25px;
    }
    
    .address {
        padding-top: 5px;
    }
 
    
    .emailList {
        width: 100%;
        margin: 0%;
        font-size: 12px;
    }

    .emailList .button {
        padding: 5px 0;
    }

    
    
}